.copyright {	
  height: 60px;
  background-color: #f8f8f8;
}  

.copyright-text {
	margin-top: 23px;
	text-align: center;
}

.inline {
	display: inline;
}

.inline a {
	float: left;
}

.inline form {
	float: left;
	margin-left: 5px;
}